/.vs
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-firstpass.Player.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.Player.csproj
/Dracodec.csproj
/Dracodec.Player.csproj
/Library
/Logs
/NFT Display.sln
/obj
/Packages
/ProjectSettings
/Siccity.GLTFUtility.csproj
/Siccity.GLTFUtility.Editor.csproj
/Siccity.GLTFUtility.Player.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.EditorCoroutines.Editor.csproj
/Unity.Performance.Profile-Analyzer.Editor.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.Services.Core.Analytics.csproj
/Unity.Services.Core.Analytics.Player.csproj
/Unity.Services.Core.Configuration.csproj
/Unity.Services.Core.Configuration.Editor.csproj
/Unity.Services.Core.Configuration.Player.csproj
/Unity.Services.Core.csproj
/Unity.Services.Core.Device.csproj
/Unity.Services.Core.Device.Player.csproj
/Unity.Services.Core.Editor.csproj
/Unity.Services.Core.Environments.csproj
/Unity.Services.Core.Environments.Internal.csproj
/Unity.Services.Core.Environments.Internal.Player.csproj
/Unity.Services.Core.Environments.Player.csproj
/Unity.Services.Core.Internal.csproj
/Unity.Services.Core.Internal.Player.csproj
/Unity.Services.Core.Networking.csproj
/Unity.Services.Core.Networking.Player.csproj
/Unity.Services.Core.Player.csproj
/Unity.Services.Core.Registration.csproj
/Unity.Services.Core.Registration.Player.csproj
/Unity.Services.Core.Scheduler.csproj
/Unity.Services.Core.Scheduler.Player.csproj
/Unity.Services.Core.Telemetry.csproj
/Unity.Services.Core.Telemetry.Player.csproj
/Unity.Services.Core.Threading.csproj
/Unity.Services.Core.Threading.Player.csproj
/Unity.Settings.Editor.csproj
/Unity.TestTools.CodeCoverage.Editor.csproj
/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj
/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.Player.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.Player.csproj
/Unity.VisualScripting.Core.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Core.Player.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.Flow.Player.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualScripting.State.Player.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.TestRunner.Player.csproj
/UnityEngine.UI.csproj
/UnityEngine.UI.Player.csproj
/UnityGLTFEditor.csproj
/UnityGLTFScripts.csproj
/UnityGLTFScripts.Player.csproj
/UnityGLTFTests.csproj
/UnityGLTFTests.Player.csproj
/UserSettings